{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>금융 리포트</title>
    <link rel="stylesheet" href="{% static 'css/loginmain.css' %}">
    <style>
    </style>
</head>
<body>
    {% csrf_token %}
    <header>
    <div class="navbar">
        <div class="logo">
            <a href="{% url 'loginmain' %}">
                <img src="{% static 'img\header_logo.png' %}" style="vertical-align: middle; margin-left: 100px;" alt="로고">
            </div>
            <div class="nav-links" style="flex-grow: 1; text-align: center; margin-right: 220px;">
                <a href="./loginmain" style=" font-weight: bold; color: #121212;">금융분석 리포트</a> 
                <div class="dropdown">
                    <a href="#" style=" font-weight: bold; color: #121212;">예/적금 추천</a>
                    <div class="dropdown-content">
                        <a href="savings_info1" style="font-size: 0.8rem;">신규적금추천</a>
                        <a href="compare_products" style="font-size: 0.8rem;">기존상품비교</a>
                    </div>
                </div> 
                <a href="spending_mbti" style=" font-weight: bold; color: #121212;">소비MBTI</a>
            </div>
           <!-- 회원 정보 및 마이페이지 -->
        <div class="user-info">
            <span style="font-size: 1.1rem;">{{ user_name }}님</span> 
            <a href="./mypage" style="margin-left: 15px; 
            text-decoration: none; 
            font-size: 1.1rem; 
            font-weight: bold; 
            color: #121212;">마이페이지</a> 
            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button name="logout" style="margin-left: 10px; 
                margin-right: 100px; 
                padding: 5px 10px; 
                font-size: 0.9rem; 
                font-weight: bold; 
                background-color: #291e4ee5; 
                color: white; 
                border: none; 
                border-radius: 5px; 
                cursor: pointer;">
                    로그아웃
                </button>
            </form>
        </div>
    </div>
    </header>

    <!-- 중앙 금융 리포트 내용 -->
    <div class="container" style="margin-left: 10px; margin-right: 10px;">
        <div class="summary">
            <h2>금융리포트 요약</h2>
            <p>자세히 보기를 누르면 금융리포트 창으로 넘어갑니다.</p>
            <a href="{% url 'originreport' %}"class="details-button">자세히 보기</a>
        </div>
    
        <!-- 맞춤 예측 상품 TOP 5 섹션 -->
        <div class="product-section">
            <h2>{{ user_name }}님 맞춤 예/적금 상품 TOP 5!</h2>
    
            <div class="recommend-section">
                <!-- 적금 추천 Top 3 -->
                <div class="product-list">
                    {% for product in final_recommend %}
                        <div class="product-card">
                            <p><strong>상품명:</strong> {{ product.product_name }}</p>
                            <p><strong>은행:</strong> {{ product.bank_name }}</p>
                            <p><strong>기준 금리:</strong> {{ product.base_rate }}</p>
                            <p><strong>최대 금리:</strong> {{ product.max_preferential_rate }}</p>
                            <p><strong>가입 방법:</strong> {{ product.signup_method }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="recommend-section">
                <!-- <h2>예금 추천 Top 2</h2> -->
                <div class="product-list">
                    {% for product in deposit_recommend %}
                        <div class="product-card">
                            <p><strong>상품명:</strong> {{ product.dsname }}</p>
                            <p><strong>은행:</strong> {{ product.bank }}</p>
                            <p><strong>기준 금리:</strong> {{ product.baser }}</p>
                            <p><strong>최대 금리:</strong> {{ product.maxir }}</p>
                            <p><strong>가입 방법:</strong> {{ product.method }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
    
            <a href="{% url 'info' %}" class="learn-more-button">자세히 알아보기</a>
        </div>
    </div>
    

    <div class="container_news">
        <div class="news-summary">
            {% if news_entries %}
                {% for news in news_entries %}
                <a href="{{ news.url }}" target="_blank" class="summary-box">
                    <div class="title">{{ news.title }}</div>
                    <div class="news-analyze">{{ news.summary }}</div>
                </a>
                {% endfor %}
            {% else %}
                <p>뉴스가 없습니다.</p>
            {% endif %}
        </div>
        <div class="word-cloud">
            <h2 style="font-weight: bold;">오늘의 뉴스 키워드</h2>
            {% if image_base64 %}
                <img src="data:image/png;base64,{{ image_base64 }}" alt="Word Cloud Image">
            {% else %}
                <p>오늘의 워드클라우드 이미지가 없습니다.</p>
            {% endif %}
        </div>
    </div>

    <footer>
        <p style="margin: 5px; line-height: 1.2; text-decoration: none; color: #afafb0;">서울특별시 마포구 월드컵북로 434 상암IT타워 6층</p> 
        <p style="margin: 5px; line-height: 1.2; text-decoration: none; color: #afafb0;">고객지원 : 02-3151-7000 | 이메일: worifisa@worifisa.com </p >
        <p style="margin: 5px; line-height: 1.2; text-decoration: none; color: #afafb0;">COPYRIGHT©천만해요</p >
    </footer >

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>
