<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>
    <div class="header" style="display: flex; align-items: center; justify-content: space-between; padding: 10px 20px; background-color: #f0f0f0;">
        <div style="flex: 0 0 auto;">
            <a href="./">
                <img src="./static/img/fisa_logo_after.png" style="max-width: 150px; height: auto;" alt="우리 FISA 로고">
            </a>
        </div>
        <div style="margin-left: auto; display: flex; align-items: center;">
            <div class="nav-box" style="border: 1px solid #ccc; padding: 10px;">
                <nav>
                    <a href="./report.html">금융분석 리포트</a> |
                    <a href="#">예/적금 추천</a> |
                    <a href="#">소비MBTI</a>
                </nav>
            </div>
        </div>
    </div>

<div class="container">
    <div class="image-container" style="position: relative;">
        <img src="./static/img/images.jpeg" alt="메인 이미지" style="width: 100%; height: 500px;">
        <div class="text-overlay" style="position: absolute; top: 40%; left: 15%; transform: translateX(-50%); color: #fff; font-size: 24px; font-weight: bold;">
            여기에 글을 작성하는데 <br> 얼마나 길게 쓸수 있을까? <br> 실험중입니다.
        </div>
        <div class="button-container" style="position: absolute; bottom: 10%; left: 15%; transform: translateX(-50%); background-color: rgba(68, 207, 232, 0.8); padding: 10px 20px; border-radius: 10px;">
            <a href="login.html#login" style="color: #fff;"> 사용하러가기</a>
        </div>
    </div>        
</div>

<div class="footer" style="display: flex; justify-content: space-between; padding: 20px; border-top: 1px solid #ccc; width: 100%; box-sizing: border-box;">
    <div class="box" style="flex: 1; margin: 5px; min-width: 40%; height: 150px; box-sizing: border-box;">
        뉴스 워드클라우드
    </div>
    <div class="box" style="flex: 1; margin: 5px; min-width: 150px; height: 150px; box-sizing: border-box;">
        top 1
    </div>
    <div class="box" style="flex: 1; margin: 5px; min-width: 150px; height: 150px; box-sizing: border-box;">
        top 2
    </div>
    <div class="box" style="flex: 1; margin: 5px; min-width: 150px; height: 150px; box-sizing: border-box;">
        top 3
    </div>
</div>

</body>
</html>
