<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
    <style></style>
</head>
<body>
    <h1>회원정보 수정</h1>
    <form method="post">
        {% csrf_token %}
        <label>아이디:</label> {{ user.CustomerID }}<br>
        <label>비밀번호:</label>
        <input type="password" name="Pw" ><br>
        <label>이름:</label>
        <input type="text" name="username" value="{{ user.username }}"><br>
        <label>생년월일:</label>
        <input type="text" name="userbirth" value="{{ user.Birth }}"><br>
        <label>이메일:</label>
        <input type="email" name="Email" value="{{ user.Email }}"><br>
        <label>전화번호:</label>
        <input type="text" name="Phone" value="{{ user.Phone }}"><br>
    
        <label>결혼 여부:</label>
        <select name="marital_status">
            <option value="미혼" {% if reverse_data.marriage_status == 'N' %}selected{% endif %}>미혼</option>
            <option value="기혼" {% if reverse_data.marriage_status == 'Y' %}selected{% endif %}>기혼</option>
        </select><br>
    
        <label>자녀 여부:</label>
        <select name="children_status">
            <option value="N" {% if reverse_data.children_status == 'N' %}selected{% endif %}>없음</option>
            <option value="Y" {% if reverse_data.children_status == 'Y' %}selected{% endif %}>있음</option>
        </select><br>
    
        <label>자녀 나이대:</label>
        <select name="children_age">
            <option value="" {% if not reverse_data.children_age %}selected{% endif %}>없음</option>
            <option value="초등생" {% if reverse_data.children_age == '초등생' %}selected{% endif %}>초등생</option>
            <option value="중고등생" {% if reverse_data.children_age == '중고등생' %}selected{% endif %}>중고등생</option>
            <option value="성인자녀" {% if reverse_data.children_age == '성인자녀' %}selected{% endif %}>성인 자녀</option>
        </select><br>
    
        <button type="submit">수정</button>
        <button type="button" onclick="window.location.href='{% url 'mypage' %}'">취소</button>
    </form>
    
</body>
</html>
