body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #feffff;
    min-height: 100vh;
    position: relative;
}
header, footer {
    background-color: #dde8f5;
    padding: 10px;
    text-align: center;
    width: 100%;
}
header {
    position: fixed; 
    top: 0; 
    z-index: 1; 
}
footer {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%;
}
.container {
    padding-top: 120px;
    padding-bottom: 150px;
    max-width: 1200px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: center;
}
.nav-links {
    margin-right: 20px; /* 회원 정보와의 구분 */
}
.navbar a {
    margin-left: 15px; /* 각 링크 사이의 간격 */
    text-decoration: none;
    color: #333;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 텍스트가 상단에 위치하도록 */
}
.image-container {
    flex-basis: 50%;
}
.image-container img {
    max-width: 80%;
    height: auto;
}
.text-container {
    flex-basis: 50%;
}

/* 텍스트 박스 스타일 */
.text-box {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px; /* 각 텍스트 박스 간격 */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

 /* 개별 상품 박스 스타일 */
 .product-boxes {
     display:flex ;
     justify-content :space-between ;
     margin-top :10 px ;
 }

 .box{
     background-color:white ;
     border-radius: 15px; 
     border: 1px solid #ddd; 
     padding: 35px; 
     width : 50% ; /* 각 상품이 동일한 크기로 배치되도록 설정 */
     text-align:center ;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
     margin-right :0 ; /* 박스 사이에 간격 없음 */
 }

 .details-btn{
     display:inline-block ;
     padding :8 px ;
     background-color :#4CAF50 ;
     color:white ;
     text-decoration:none ;
     border-radius :5 px ;
     text-align:center ;
     margin-top :10 px ;
 }
