{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
    </style>
    <script>
        function openPopup(url) {
            const width = 500;
            const height = 600;
            const left = (window.screen.width / 2) - (width / 2);
            const top = (window.screen.height / 2) - (height / 2);
            window.open(url, 'termsPopup', `width=${width},height=${height},top=${top},left=${left},resizable=yes,scrollbars=yes`);
        }
    </script>
</head>
<body>
    {% csrf_token %}
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'main' %}">
                    <img src="{% static 'img\header_logo.png' %}" style="vertical-align: middle; margin-left: 220px;" alt="로고">
                </a>
            </div>
            <div class="nav-message">
                금융 비서 <span style="color: #007bff;">천냥이</span>, <span style="color: #ff9900;">만덕이</span>와 똑똑한 금융 생활해요 🌞
            </div>
        </div>
    </header>    
    <section class="login_section">
        <div class="accounts_container">
            <div class="accounts_image">
                <img src="{% static 'img/login_image.png' %}" alt="login_image.png">
            </div>
            <div class="accounts_forms">
                <h1>로그인</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="CustomerID">아이디</label>
                        <input type="text" id="CustomerID" name="CustomerID" placeholder="아이디 입력">
                    </div>
                    <div class="form-group">
                        <label for="Pw">비밀번호</label>
                        <input type="password" id="Pw" name="Pw" placeholder="비밀번호 입력">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="login-button">로그인</button>
                    </div>
                    {% if error %}
                    <p style="color: red;">{{ error }}</p>
                    {% endif %}
                </form>
                <div class="helper-links">
                    <button type="button" class="btn-link" onclick="openPopup('/accounts/findid/')">아이디찾기</button> |
                    <button type="button" class="btn-link" onclick="openPopup('/accounts/findpw/')">비밀번호찾기</button> | 
                    <a href="{% url 'accounts:agree' %}">회원가입</a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p style="margin: 5px; line-height: 1.2; text-decoration: none; color: #afafb0; font-size: 0.8rem;">서울특별시 마포구 월드컵북로 434 상암IT타워 6층</p> 
        <p style="margin: 5px; line-height: 1.2; text-decoration: none; color: #afafb0; font-size: 0.8rem;">고객지원 : 02-3151-7000 | 이메일: woorifis.lab44@gmail.com </p >
        <p style="margin: 5px; line-height: 1.2; text-decoration: none; color: #afafb0; font-size: 0.8rem;">COPYRIGHT©우리천만해요</p >
    </footer >
    
</body>
</html>